body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/view_M.jpg);
    overflow: hidden;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.name{
    display: flex;
    justify-content: center;

}

img{
    max-width: 15%;
    max-height: 10%;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

hn {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}


input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 10px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #700000;
}
